.song-wrapper{
    min-height:  60vh;
    // background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        width: 300px;
        object-fit: cover;
        border-radius: 50%;
        height: 300px;
    }
    .songName{
        padding: 3rem 1rem 1rem 1rem;
    }
}
.animate{
    animation: rolling 15s infinite linear;
}
@keyframes rolling {
  from {
      transform: rotate(0);
  }
  to {transform: rotate(360deg);}
}